
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'exo', sans-serif;
    background-color: var(--primary-color);
}
section {
    padding: 0 var(--space-s);
}

button {
    cursor: pointer;
}

.quizapp h1 {
    font-size: var(--h1);
}

.container {
    max-width: 767px;
    margin: auto;
    margin-top: var(--space-s);
    background-color: var(--white);
    border-radius: var(--radius-s);
    padding: var(--space-s);
    box-shadow: var(--shadow-1);
}

.quizapp .quiz,
.quizapp .quiz .answers {
    display: flex;
    flex-direction: column;
    
    margin-top: var(--space-s);
}
.quizapp .quiz h2 {
    font-weight: 300;
}
.quizapp .quiz .answers {
    gap: var(--static-space-1);
}
.quizapp .quiz .answers .answer {
    text-align: left;
    padding: var(--static-space-1) var(--space-s);
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    font-weight: 600;
    border: solid black;
    transition: all 0.3s ease;
}
.quizapp .quiz .answers .answer:disabled {
    box-shadow: none;
    cursor: no-drop;
}
.quizapp .quiz .answers .answer:not(:disabled):hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    box-shadow: none;
}

.quizapp .quiz .next-btn {
    max-width: 10rem;
    background-color: var(--primary-color);
    color: white;
    margin: var(--space-m) auto 0;
    padding: calc( var(--space-s) * 0.3 ) var(--space-s);
    opacity: 0.8;
    border: none;
    transition: opacity 0.3s ease-in-out;
    display: none;
}
.quizapp .quiz .next-btn:hover {
    opacity: 1;
}

.quizapp .quiz .answer.correct,
.quizapp .quiz .answer.correct:hover {
    background-color: #9f9;
    box-shadow: none;
    color: black;
    cursor: no-drop;
}

.quizapp .quiz .answer.incorrect,
.quizapp .quiz .answer.incorrect:hover {
    background-color: #f99;
    box-shadow: none;
    color: black;
}