.filter-wrapper label {
    transition: 0.5s background-color;
    border: 1px solid transparent;

}
.filter-wrapper input:checked + label {
    background-color: rgb(0, 0, 255 , 10%);
    border-color: rgb(0, 0, 255 , 70%);

}
.filter-wrapper input:checked + label i {
    color: rgb(0, 0, 255 , 70%);

}
.avatar {
    box-shadow: -3px -3px 0 0 rgb(0, 0, 255 , 40%);
}
.spiner {
    display: flex;
    position: absolute;
    right: 0.6em;
    height: 15px;
    width: 15px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #333;
    border-bottom-color: #333;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.slidein {
    animation: slidein 200ms linear;
}
@media(max-width:468px) {
    .spiner {
        right: auto;
        margin: auto;
        background-color: rgb(229 232 255);
    }
}


@keyframes spin {
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes slidein {
    from{
        transform: translateX(2rem);
        opacity: 0;
    }
}